@import url(https://fonts.googleapis.com/css?family=Wire+One);
@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
  background: #036;
  bottom: -200px;
  font: 60px "Wire One";
  left: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.cont {
  cursor: pointer;
  display: block;
  height: 350px;
  margin: 0 auto;
  width: 100%;
}

.sky {
  animation-delay: 200ms;
  background: linear-gradient(#036, #17b, #2cb);
  display: block;
  height: 100%;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sky-dawn {
  background: linear-gradient(#78d, #a8d, #eeb);
  display: block;
  height: 100%;
  opacity: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sky-day {
  background: linear-gradient(#1bf, #6df, #bfe);
  display: block;
  height: 100%;
  opacity: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.show {
  opacity: 1;
}

.foreground {
  fill: #036;
  position: relative;
  z-index: 10;
}

.animate.grow {
  animation-name: grow;
  animation-duration: 5s;
  transform: translateY(600px);
  animation-fill-mode: forwards;
}

.hills {
  transition-duration: 5s;
  transition-timing-function: linear;
  transition-delay: 100ms;
  opacity: 0;
}

#clock {
  color: #fff;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 20;
}

.text {
  clear: both;
  display: block;
  margin: 30% auto 0 auto;
  position: relative;
  text-align: center;
  width: 80%;
  z-index: 30;
}

.text h1 {
  color: #efa;
  font-size: 40px;
  letter-spacing: 2px;
}

.text p {
  color: #ffd;
  font: 17px Lato;
  letter-spacing: 1px;
  margin-top: 50px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 50px;
  }

  .text h1 {
    font-size: 30px;
  }

  .text p {
    font-size: 15px;
  }
}

/* Animations */

.delay-1 {
  animation-delay: 200ms;
}
.delay-2 {
  animation-delay: 400ms;
}
.delay-3 {
  animation-delay: 600ms;
}
.delay-4 {
  animation-delay: 800ms;
}

@keyframes grow {
  from {
    transform: translateY(600px);
  }
  to {
    transform: translateY(0px);
  }
}
.animate.drop {
  animation-delay: 7s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-name: drop;
  animation-timing-function: ease-out;
  transform: translateY(-200px);
}
@keyframes drop {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0px);
  }
}

.animate.fade-in {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: fade-in;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flash {
  animation-name: flash;
  animation-duration: 2s;
}

@keyframes flash {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}
