@import url(https://fonts.googleapis.com/css?family=Wire+One);
@import url(https://fonts.googleapis.com/css?family=Lato:300);

body {
    margin: 0;
    background: #036;
    font: 80px "Wire One";
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: -200px;
}

.cont {
    width: 100%;
    height: 350px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.sky {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    top: 0;
    background: linear-gradient(#036, #17b, #2cb);
}

.sky-dawn {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    top: 0;
    background: linear-gradient(#78d, #a8d, #eeb);
    opacity: 0;
}

.sky-day {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    top: 0;
    background: linear-gradient(#1bf, #6df, #bfe);
    opacity: 0;
}

.show {
    opacity: 1;
}

.foreground {
    position: relative;
    z-index: 10;
    fill: #036;
}

.trees {
}

.hills {
}

#clock {
    display: block;
    position: absolute;
    z-index: 20;
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.text {
    width: 80%;
    display: block;
    position: relative;
    z-index: 30;
    margin: 30% auto 0 auto;
    text-align: center;
    clear: both;
}

.text h1 {
    font-size: 40px;
    letter-spacing: 2px;
    color: #efa;
}

.text p {
    margin-top: 50px;
    font: 17px Lato;
    color: #ffd;
    letter-spacing: 1px;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 50px;
    }

    .text h1 {
        font-size: 30px;
    }

    .text p {
        font-size: 15px;
    }
}